.blog-wrapper {
  .blog-content {
    &:nth-child(even) {
      background-color: map-get($grays, 31);
    }

    &:nth-child(odd) {
      background-color: map-get($grays, 29);
    }

    .container {
      .content {
        .content-header {
          font-size: 40px;
          font-weight: 300;
          text-transform: uppercase;

          @include media-breakpoint-down(sm) {
            font-size: 32px;
          }
        }

        .content-preview {
          font-size: $spacer;
          font-weight: 300;
          line-height: 1.7;
        }

        /* .content-link {
          border-bottom: 1px solid transparent;
          transition: border-bottom-color $duration $transition;

          &:hover {
            border-bottom-color: map-get($grays, 6);
          }
        } */

        .link-light {
          &:hover {
            color: rgba($white, 0.8);
            border-bottom-color: $white;
          }
        }
      }

      .image {
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }
    }
  }
}

.blog-card-wrapper {
  background-color: map-get($grays, 6);

  .blog-card-header {
    font-size: 28px;
    font-weight: 300;
    color: $white;
  }

  .toggle-edit {
    display: grid;
    grid-auto-flow: column;
    grid-gap: $spacer;
    place-items: center;
    color: $white;
    place-content: center end;

    .blog-checkbox {
      position: relative;
      width: 80px;
      height: 30px;
      cursor: pointer;
      background-color: map-get($grays, 13);
      border: none;
      border-radius: 20px;
      outline: none;
      box-shadow: $box-shadow;
      appearance: none;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        content: "";
        background-color: map-get($grays, 6);
        border: $white solid 2px;
        border-radius: 20px;
        box-shadow: $box-shadow;
        transition: left $duration $transition;
        transform: scale(1.1);
      }

      &:checked::before {
        left: 52px;
      }
    }
  }

  .blog-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    place-content: center;
    grid-gap: 2 * $spacer;

    .blog-card {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      text-decoration: none;
      cursor: pointer;
      background-color: rgba($white, 0.9);
      border-radius: $border-radius;
      box-shadow: 0 8px 25px 0 rgba($white, 0.15);
      transition: transform $duration $transition;
      backdrop-filter: blur(5.5px);
      place-content: center;

      &:hover {
        box-shadow: $box-shadow;
        transform: rotateZ(-1deg) scale(1.01);
      }

      .blog-card-icons {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 3;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 0.6 * $spacer;

        > .blog-card-icon {
          display: grid;
          place-items: center;
          width: 35px;
          height: 35px;
          background-color: map-get($grays, 6);
          border-radius: 50%;
          box-shadow: $box-shadow;
          transition: background-color $duration $transition;
          place-content: center;

          path {
            fill: $white;
          }

          &:hover {
            background-color: map-get($grays, 13);
            box-shadow: $box-shadow-white;
          }
        }
      }

      .blog-card-image {
        z-index: 1;
        display: block;
        width: 100%;
        min-height: 200px;
        border-radius: 8px 8px 0 0;
        object-fit: cover;
      }

      .blog-card-info {
        position: relative;
        display: grid;
        grid-gap: 1.2 * $spacer;
        padding: 1.5 * $spacer $spacer;
        color: $black;

        &::before {
          position: absolute;
          top: -10px;
          right: 11px;
          width: 0;
          height: 100%;
          content: "";
          border-color:
            transparent
            map-get($grays, 14)
            transparent
            transparent;
          border-style: solid;
          border-width: 0 10px 10px 10px;
        }

        .blog-card-title {
          font-size: 20px;
          font-weight: 300;
        }

        .blog-card-date {
          font-size: 12px;
          font-weight: 400;
        }

        .link {
          align-items: center;
          font-size: 12px;
          font-weight: 500;
          transition: color $duration $transition;

          &:hover {
            color: rgba($black, 0.8);
          }

          .arrow {
            width: 10px;
          }
        }
      }
    }
  }
}

.home .updates {
  .row {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 3 * $spacer;
    place-items: center;
    padding: 100px 25px;

    @include media-breakpoint-down(sm) {
      grid-auto-flow: row;
      padding: 125px 25px;
    }

    .updates-header {
      max-width: 425px;
      font-size: 32px;
      font-weight: 300;
      text-align: center;
      text-transform: uppercase;

      @include media-breakpoint-down(sm) {
        font-size: 40px;
        text-align: initial;
      }
    }
  }
}
