.footer {
  color: $light;
  background-color: $dark;

  .row {
    display: grid;
    grid-gap: 2.5 * $spacer;
    place-items: center;

    @include media-breakpoint-up(sm) {
      grid-template-columns: auto 1fr auto;
      place-items: center initial;
    }

    .logo {
      font-size: 1.1 * $spacer;
      font-weight: 600;
      color: $light;
      text-decoration: none;
      transition: color $duration $transition-timing-function;

      &:hover {
        color: rgba($light, $hover);
      }
    }

    .nav {
      display: grid;
      place-content: center start;
      grid-auto-flow: column;
      grid-gap: 1.5 * $spacer;

      .link {
        font-size: 0.7 * $spacer;
        font-weight: 500;
        color: $light;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;

        &.router-link {
          &-active {
            border-bottom: 1px solid $light;
          }
        }

        &:hover {
          color: rgba($light, $hover);
          border-bottom: 1px solid rgba($light, $hover);
        }
      }
    }

    .copy {
      display: grid;
      grid-auto-flow: row;
      grid-gap: 0.5 * $spacer;
      place-items: center end;

      &.is-mobile {
        place-items: center center;
      }

      .small {
        font-size: 0.6rem;
      }
    }
  }
}
