.footer {
  color: $white;
  background-color: $black;

  .row {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 2.5 * $spacer;
    place-items: center initial;

    @include media-breakpoint-down(sm) {
      grid-template-columns: initial;
      place-items: center;
    }

    .logo {
      font-size: 1.1 * $spacer;
      font-weight: 600;
      color: $white;
      text-decoration: none;
      transition: color $duration $transition;

      &:hover {
        color: rgba($white, 0.9);
      }
    }

    .nav {
      display: grid;
      place-content: center start;
      grid-auto-flow: column;
      grid-gap: 1.5 * $spacer;

      .link {
        font-size: 0.7 * $spacer;
        font-weight: 500;
        color: $white;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;

        &.router-link {
          &-active {
            border-bottom: 1px solid $white;
          }
        }

        &:hover {
          color: rgba($white, 0.9);
          border-bottom: 1px solid rgba($white, 0.9);
        }
      }
    }

    small {
      font-size: 0.7rem;
    }
  }
}
