@import "font";
@import "reset";
@import "utilities/functions";
@import "variables";
@import "utilities/breakpoints";
@import "grid";

.link {
  font-size: 0.9 * $spacer;
  color: $secondary;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition:
    color $duration $transition,
    border-color $duration $transition;

  svg {
    transition: transform $duration $transition;
  }

  &:hover {
    margin-right: 0;
    color: rgba($secondary, $hover);

    svg {
      transform: rotateY(180deg);
    }
  }

  &-light {
    color: $white;
  }
}

.icon-svg {
  width: $spacer;
  height: $spacer;
  pointer-events: none;

  .disabled,
  &:disabled {
    path {
      fill: map-get($grays, 20);
    }
  }
}

input {
  width: 100%;
  font-family: Roboto, sans-serif;
}

.button {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  grid-gap: 0.75 * $spacer;
  padding: 0.75 * $spacer 1.5 * $spacer;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  color: map-get($grays, 25);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: map-get($grays, 10);
  border: none;
  border-radius: $border-radius;
  transition: background-color $duration $transition;

  &-light {
    color: map-get($grays, 25);
    background-color: transparent;
    border: 2px solid map-get($grays, 25);
  }

  &:hover {
    background-color: rgba(map-get($grays, 10), $hover);
  }

  &:focus {
    outline: none;
  }

  &.inactive,
  &:disabled {
    color: rgba(map-get($grays, 25), 0.5);
    pointer-events: none;
    cursor: initial;
    background-color: rgba(map-get($grays, 20), 0.5);
  }
}

.error {
  font-size: 12px;
  color: $red;
  text-align: center;
}

.date {
  font-weight: 400;
  color: map-get($grays, 18);
}
