@import "font";
@import "reset";
@import "utilities/functions";
@import "variables";
@import "utilities/breakpoints";
@import "grid";

.icon-svg {
  width: $spacer;
  height: $spacer;
  pointer-events: none;
}

.link {
  font-size: 0.9 * $spacer;
  color: $light;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition:
    color $duration $transition-timing-function,
    border-color $duration $transition-timing-function;

  svg {
    transition: transform $duration $transition-timing-function;
  }

  &:hover {
    margin-right: 0;
    color: rgba($light, $hover);

    svg {
      transform: rotateY(180deg);
    }
  }

  &-light {
    color: $light;
  }

  &-dark {
    color: $dark;

    &:hover {
      color: rgba($dark, $hover);

      svg {
        transform: rotateY(180deg);
      }
    }

    path {
      fill: $dark;
    }
  }
}

input {
  width: 100%;
  font-family: Roboto, sans-serif;
}

.button {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.75 * $spacer;
  place-items: center;
  padding: 0.75 * $spacer 1.5 * $spacer;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  color: $dark;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $light;
  border: none;
  border-radius: $border-radius;
  transition: background-color $duration $transition-timing-function;
  place-content: center;

  &:hover {
    background-color: map-get($grays, 20);
  }

  &:focus {
    outline: none;
  }

  &.inactive,
  &:disabled {
    color: map-get($grays, 10);
    pointer-events: none;
    cursor: initial;
    background-color: map-get($grays, 20);
  }

  &-light {
    color: $light;
    background-color: transparent;
  }

  &-dark {
    color: $light;
    background-color: map-get($grays, 6);

    &:hover {
      background-color: map-get($grays, 8);
    }
  }

  &.success {
    color: map-get($grays, 31);
    background-color: rgba($green, $hover);

    &:hover {
      background-color: $green;
    }
  }
}

.error {
  font-size: 12px;
  color: $red;
  text-align: center;
}

.date {
  font-weight: 400;
  color: map-get($grays, 18);
}
