body {
  display: grid;
  grid-template-areas: "main main main main";
  height: 100vh;
  margin: 0;
  font-family: Roboto, sans-serif;

  main {
    display: grid;
    grid-area: main;

    > section {
      display: grid;
      grid-template-areas:
        "header"
        "main"
        "footer";
      grid-template-rows: auto 1fr auto;
      grid-gap: 0 $spacer;

      .container {
        width: 100%;
        max-width: 1140px;
        padding-right: 1.5 * $spacer;
        padding-left: 1.5 * $spacer;
        margin-right: auto;
        margin-left: auto;
      }
    }
  }
}
