body {
  margin: 0;
  font-family: Roboto, sans-serif;

  main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;

    > section {
      position: relative;
      display: grid;
      background-color: map-get($grays, 5);
      transition: filter $duration $transition;

      &.blur {
        filter: blur(0.08 * $spacer);
      }
    }
  }

  .container {
    display: grid;
    grid-area: main;
    grid-template-areas:
      ". . ."
      ". row ."
      ". . .";
    grid-template-columns:
      1fr
      minmax(
        map-get($grid-breakpoints, xs),
        map-get($grid-breakpoints, xl)
      )
      1fr;
    grid-gap:
      1.2 * $spacer
      1.2 * $spacer;

    &.bg-gray-dark {
      color: $white;
      background-color: map-get($grays, 6);
    }

    &.bg-gray-light {
      background-color: map-get($grays, 31);
    }

    &.row-gap-2 {
      grid-row-gap: 2.4 * $spacer;
    }

    &.row-gap-3 {
      grid-row-gap: 3.6 * $spacer;
    }

    > div {
      display: grid;
      grid-area: row;
      grid-gap:
        1.1 * $spacer
        1.5 * $spacer;
    }
  }
}
