body {
  margin: 0;
  font-family: Roboto, sans-serif;

  main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;

    > header,
    > footer,
    > section {
      display: grid;
      grid-gap: 0 $spacer;
    }
  }

  .container {
    display: grid;
    grid-area: main;
    grid-template-areas:
      ". . ."
      ". row ."
      ". . .";
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
    grid-gap: 1.2 * $spacer;

    &.bg-gray-6 {
      color: $white;
      background-color: map-get($grays, 6);
    }

    &.bg-gray-27 {
      background-color: map-get($grays, 27);
    }

    &.row-gap-2 {
      grid-row-gap: 2.4 * $spacer;
    }

    &.row-gap-3 {
      grid-row-gap: 3.6 * $spacer;
    }

    > div {
      display: grid;
      grid-area: row;
      grid-gap: 1.2 * $spacer;
    }
  }
}
