.header {
  color: $light;
  background-color: $dark;

  .nav.nav-header {
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    .branding {
      .logo {
        font-size: 1.5 * $spacer;
        font-weight: 600;
        color: $light;
        text-decoration: none;
        transition: color $duration $transition-timing-function;

        &:hover {
          color: rgba($light, $hover);
        }
      }
    }

    .nav-links {
      display: grid;
      align-content: center;
      justify-items: end;

      .nav {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 1.5 * $spacer;

        .link {
          display: grid;
          font-weight: 500;
          color: $light;
          border-top: 1px solid transparent;
          border-bottom: 1px solid transparent;
          transition: color $duration $transition-timing-function;
          place-self: center;

          &.router-link {
            &-active {
              border-bottom: 1px solid $light;
            }
          }

          &:hover {
            color: rgba($light, $hover);
          }
        }
      }

      .mobile-menu {
        cursor: pointer;

        .icon-svg {
          width: 2rem;
          height: 2rem;
        }

        path {
          fill: $light;
          transition: fill $duration $transition-timing-function;
        }

        &:hover {
          .icon-svg {
            path {
              fill: rgba($light, $hover);
            }
          }
        }
      }
    }

    .nav-profile {
      position: relative;
      display: grid;
      place-items: center;
      width: 40px;
      height: 40px;
      color: $light;
      cursor: pointer;
      background-color: map-get($grays, 6);
      border-radius: 50%;
      place-content: center;

      span {
        pointer-events: none;
        user-select: none;
      }

      .profile-menu {
        position: absolute;
        top: 60px;
        right: 0;
        z-index: 99;
        width: 250px;
        cursor: initial;
        background-color: map-get($grays, 5);
        box-shadow: $box-shadow;

        &::before {
          position: absolute;
          top: -10px;
          right: 11px;
          width: 0;
          height: 0;
          content: "";
          border-color:
            transparent
            transparent
            map-get($grays, 5)
            transparent;
          border-style: solid;
          border-width: 0 10px 10px 10px;
        }

        &::after {
          position: absolute;
          bottom: -18px;
          left: 10px;
          width: 0;
          height: 0;
          margin-left: -10px;
          content: "";
          border-color:
            map-get($grays, 10)
            transparent
            transparent
            transparent;
          border-style: solid;
          border-width: 18px 1px 0 190px;
        }

        .nav-profile-info {
          display: grid;
          grid-auto-flow: column;
          place-items: center start;
          padding: $spacer;
          border-bottom: 1px solid $light;

          .initials {
            position: initial;
            display: grid;
            place-items: center;
            width: 40px;
            height: 40px;
            color: map-get($grays, 6);
            user-select: none;
            background-color: $light;
            border-radius: 50%;
            place-content: center;
          }

          .right {
            position: initial;
            display: grid;
            place-self: center start;

            p:nth-child(1) {
              font-size: 14px;
            }

            p:nth-child(2),
            p:nth-child(3) {
              font-size: 12px;
            }
          }
        }

        .nav-profile-options {
          display: grid;
          grid-gap: $spacer;
          place-items: center start;
          padding: $spacer;
          background-color: map-get($grays, 6);

          .option {
            display: grid;
            grid-auto-flow: column;
            grid-gap: $spacer;
            place-items: center;
            color: rgba($light, $hover);
            text-decoration: none;
            cursor: pointer;
            transition: color $duration $transition-timing-function;

            &:hover,
            &.active {
              color: $light;
            }

            &.active::after {
              color: $light;
              content: "⇽";
            }

            span {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .nav-mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1020;
    display: grid;
    grid-gap: 1.2 * $spacer;
    width: 70%;
    max-width: 250px;
    height: 100%;
    padding: 25px;
    background-color: map-get($grays, 6);
    box-shadow: 18px 1px 22px 0 rgba(0, 0, 0, 0.3) inset, 18px 1px 22px 0 rgba(0, 0, 0, 0.5);
    place-content: baseline start;

    &-enter-active,
    &-leave-active {
      transition: transform $duration $transition-timing-function;
    }

    &-enter,
    &-leave-to {
      transform: translateX(-250px);
    }

    &-enter-to {
      transform: translateX(0);
    }

    a {
      color: $light;

      &.active,
      &:hover {
        color: rgba($light, $hover);
      }

      &.router-link {
        &-active {
          padding-left: 10px;
          border-left: 2px solid $light;
        }
      }
    }
  }
}
