$form-width-min: 200px;
$form-width-max: 350px;

.form-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
  overflow: hidden;

  @include media-breakpoint-down(sm) {
    grid-template-columns: initial;
  }

  .form {
    position: relative;
    display: grid;
    grid-gap: 1.2 * $spacer;
    place-items: center;
    place-content: center;
    text-align: center;

    @include media-breakpoint-down(sm) {
      // place-items: center stretch;
      font-size: 0.9 * $spacer;
      place-content: center stretch;
    }

    h1 {
      text-align: center;

      @include media-breakpoint-down(sm) {
        font-size: 1.3 * $spacer;
      }

      a {
        color: map-get($grays, 6);
        transition: color $duration $transition;

        &:hover {
          color: rgba($gray-48, 0.8);
        }
      }
    }

    h2 {
      font-size: 1.3 * $spacer;
      color: map-get($grays, 6);
      text-align: center;

      @include media-breakpoint-down(sm) {
        font-size: 1.1 * $spacer;
      }
    }

    .login-register {
      .router-link {
        color: $black;
        transition: color $duration $transition;

        &:hover {
          color: rgba($black, 0.8);
        }
      }
    }
  }

  .forgot-password {
    font-size: 14px;
    color: $black;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: border-bottom $duration $transition;
  }

  .angle {
    position: absolute;
    right: -30px;
    width: 60px;
    height: 101%;
    background-color: $white;
    transform: rotateZ(3deg);

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  .background {
    width: 100%;
    height: 100%;
    background-image:
      linear-gradient(
        to bottom,
        rgba($gray-104, 0.4),
        rgba($gray-32, 0.8)
      ),
      radial-gradient(
        circle at 120% 100px,
        rgba($gray-32, 0.8),
        rgba($gray-168, 0.9),
        rgba($gray-32, 0.8)
      );
    background-size: cover;

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.profile,
.admin {
  display: grid;
  place-content: center;
  background-color: map-get($grays, 30);

  .form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($form-width-min, $form-width-max));

    .row {
      display: grid;
      grid-gap: 1.2 * $spacer;

      h2 {
        font-size: 32px;
        font-weight: 300;
        text-align: center;
      }

      .subheader {
        font-size: 1.5 * $spacer;
        font-weight: 300;
        text-align: center;
      }

      .initials {
        position: initial;
        display: grid;
        place-items: center;
        width: 80px;
        height: 80px;
        font-size: 32px;
        color: $white;
        background-color: map-get($grays, 6);
        border-radius: 50%;
        place-self: center;

        > div {
          user-select: none;
        }
      }

      .admin-badge {
        padding: 8px 18px;
        font-size: 14px;
        color: $white;
        text-align: center;
        text-transform: capitalize;
        user-select: none;
        background-color: map-get($grays, 13);
        border-radius: $border-radius;
        place-self: center;

        > .admin-icon {
          width: 14px;
          height: auto;
          margin-right: 8px;
        }
      }
    }
  }
}

form {
  display: grid;
  grid-gap: 1.2 * $spacer;

  .inputs {
    display: grid;
    grid-gap: 0.8 * $spacer;

    .input {
      display: grid;
      grid-gap: 0.3 * $spacer;

      label {
        display: grid;
        justify-self: start;
        font-size: 14px;
        color: map-get($grays, 13);

        &.error {
          font-size: 12px;
          color: $red;
        }
      }

      .input-row {
        position: relative;

        input {
          padding: 10px 10px 10px 45px;
          font-size: $spacer;
          background-color: map-get($grays, 31);
          border: 1px solid map-get($grays, 29);
          border-radius: 7px;
          transition: border-color $duration $transition;

          &:focus {
            outline: none;
          }

          &:valid {
            border-color: rgba($green, 0.5);
          }

          &:invalid {
            border-color: rgba($red, 0.5);
          }

          &:disabled {
            color: map-get($grays, 20);
          }
        }

        .icon {
          position: absolute;
          top: 0.8 * $spacer;
          left: 17px;

          .disabled {
            path {
              fill: map-get($grays, 20);
            }
          }
        }
      }
    }
  }
}
